@include mediaSm{
	.app-wrapper{
		.side-nav{
			width: 100vw !important;
			
			.profile{
				// position: fixed;
				@include easeOut;
				transform: translate3d(0, -110%, 0);
				
				&.show{
					transform: translate3d(0, 0, 0);
				}
			}

			.menu-nav{
				@include easeOut;
				transform: translate3d(0, 100%, 0);

				&.show{
					transform: translate3d(0, 0, 0);
				}
			}

			&.show{
				z-index: 1;
			}
		}

		.main{
			margin-left: 0 !important;
		}
	}
}

@include mediaMd{
	.app-wrapper{
		.side-nav{
			width: 100vw !important;
			
			.profile{
				// position: fixed;
				@include easeOut;
				transform: translate3d(0, -110%, 0);
				
				&.show{
					transform: translate3d(0, 0, 0);
				}
			}

			.menu-nav{
				@include easeOut;
				transform: translate3d(0, 100%, 0);

				&.show{
					transform: translate3d(0, 0, 0);
				}
			}

			&.show{
				z-index: 1;
			}
		}

		.main{
			margin-left: 0 !important;
		}
	}
}

@include mediaLg{
	.app-wrapper{
		.side-nav{
			width: 100vw !important;
			
			.profile{
				// position: fixed;
				@include easeOut;
				transform: translate3d(0, -110%, 0);
				
				&.show{
					transform: translate3d(0, 0, 0);
				}
			}

			.menu-nav{
				@include easeOut;
				transform: translate3d(0, 100%, 0);

				&.show{
					transform: translate3d(0, 0, 0);
				}
			}

			&.show{
				z-index: 1;
			}
		}

		.main{
			margin-left: 0 !important;
		}
	}
}

@include mediaXl{
	.menu-btn{
		visibility: hidden;
	}
}