@include mediaSm{
	.side-nav{
		width: 100% !important;
		background-color: darken($primary-color, 5) !important;
		position: fixed;
		
		@include easeOut;
		transform: translate3d(-100%, 0, 0);
		
		&.show{
			transform: translate3d(0, 0, 0);
		}

		.profile{
			img{
				width: 150px !important;
			}
		}
	}

	.main{
		margin-left: 0 !important;
		padding: 0 2rem !important;
	}
	.resume{
		img{
			width: 95%;
			margin: 1rem auto;
			display: block;
		}

		iframe{
			display: none;
		}
	}
}

@include mediaMd{
	.side-nav{
		width: 100vw !important;
		background-color: darken($primary-color, 5) !important;
		position: fixed;
		
		@include easeOut;
		transform: translate3d(-100%, 0, 0);
		
		&.show{
			transform: translate3d(0, 0, 0);
		}

		.profile{
			img{
				width: 150px !important;
			}
		}
	}

	.main{
		margin-left: 0 !important;
	}
	.resume{
		img{
			width: 95%;
			margin: 1rem auto;
			display: block;
		}

		iframe{
			display: none;
		}
	}
}

@include mediaLg{
	.side-nav{
		width: 100vw !important;
		background-color: darken($primary-color, 5) !important;
		position: fixed;
		
		@include easeOut;
		transform: translate3d(-100%, 0, 0);
		
		&.show{
			transform: translate3d(0, 0, 0);
		}

		.profile {
			img {
				width: 150px !important;
			}
		}
	}

	.main{
		margin-left: 0 !important;
	}
	.resume{
		img{
			width: 95%;
			margin: 1rem auto;
			display: block;
		}

		iframe{
			display: none;
		}
	}
}

@include mediaXl{
	.nav-bar{
		visibility: hidden;
	}
	.menu-btn{
		visibility: hidden;
	}

	.main {
		margin-top: 0 !important;
		margin-left: 300px;
	}
	.resume{
		width: calc(100vw - 360px) !important;

		.img-wrapper{
			// display: flex !important;
			// flex-direction: row;
			// justify-content: space-evenly !important;

			// img{
			// 	width: 40% !important;
			// }
			display: none;
		}

		iframe{
			width: inherit;
			height: calc(100vh - 100px);
		}
		button{
			display: none !important;
		}
	}
}