.skill{
	width: 60px;
	line-height: 60px;
	text-align: center;
	border-radius: 50%;
	border: 2px $secondary-color solid;
	display: inline-block;
	margin: 0.5rem;
	background-color: darken($primary-color, $amount: 2);
}